@import 'tailwindcss/base';
@import 'tailwindcss/utilities';
@import 'tailwindcss/components';

.btn {
  padding: theme('spacing.2') theme('spacing.4');
  border: 1px solid;
  border-radius: 8px;
}

.btn:hover {
  border-color: theme('colors.yellow.500');
}

.btn:active {
  border-color: theme('colors.yellow.500');
  background-color: theme('colors.yellow.500');
}

.btn[disabled] {
  color: theme('colors.gray.400');
  cursor: not-allowed;
}

.word {
  display: inline-block;
  font-weight: bold;
  border-bottom: 4px solid;
  min-width: 6ch;
}

.word::before {
  content: '\200b';
}

.word--active {
  @apply animate-pulse;

  border-color: theme('colors.yellow.500');
}

.word--solved {
  min-width: unset;
  border-color: transparent;
}

a:hover {
  border-bottom: 2px solid currentColor;
}

li {
  display: inline-block;
}

.footer-links li {
  @apply px-2;
}
